@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

html {
  scroll-behavior: smooth; /*Rolagem suave da página ao clicar no botão*/
}

body {
  margin: 0;
  background-color: #040b0f;
  color: #1e1e1e;
  font-family: Archivo, Arial, Helvetica, sans-serif;
}

/* CADASTRO --------------------------------- */

.main_cadastro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.main_cadastro .modal {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.main_cadastro .modal .box_modal {
  position: absolute;
  width: 500px;
  height: 420px;
  background-color: white;
  border-radius: 12px;
  padding: 2rem;
  align-content: center;
}

.main_cadastro .modal .box_modal .titulo {
  display: flex;
  justify-content: center;
}

.main_cadastro .modal .box_modal .icon {
  /* border: solid; */
  display: flex;
  justify-content: center;  
}

.main_cadastro .modal .box_modal .info {
  display: flex;
  justify-content: center;
}

.main_cadastro .modal .box_modal .btn {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.main_cadastro .modal .box_modal .btn a{
  display: flex;
  align-self: center;
  justify-content: center;
  background-color: #f66b0e;
  width: 200px;
  box-shadow: 0 4px 0 #a54809;
  border: none;
  color: white;
  margin-top: 0.5rem;
  padding: 0.5rem 0;
  font-size: x-large;
  border-radius: 12px;
  cursor: pointer;
  opacity: 0.9;
}

.main_cadastro .modal .box_modal .btn a:hover {
  opacity: 1;
}

.main_cadastro .container {
  display: flex;
  background-color: white;
  width: 1000px;
  height: 600px;
  border-radius: 12px;
}

.main_cadastro .container {
  display: flex;
  background-color: white;
  width: 1000px;
  height: 600px;
  border-radius: 12px;
}

.main_cadastro .container .box_img img {
  padding: 1rem;
  height: 95%;
}

.main_cadastro .container .box_cadastro {
  /* border: solid black; */
  margin: 0 2rem 1rem 2rem;
  width: 100%;
}

.main_cadastro .container .box_cadastro h1 {
  display: flex;
  font-size: 40px;
  justify-content: center;
  /* border: solid black; */
  margin: 2rem 1rem 0 1rem;
  width: auto;
}

.main_cadastro .container .box_cadastro .campos {
  display: flex;
  flex-direction: column;
  /* border: solid red; */
  padding: 2rem;
}

.main_cadastro .container .box_cadastro .campos .validacao {
  font-size: small;
}
.main_login .container .box_login .campos .validacao {
  font-size: small;
}

.main_cadastro .container .box_cadastro .campos .campo {
  display: flex;
  flex-direction: column;
  /* border: solid pink; */
}

.main_cadastro .container .box_cadastro .campos .campo span {
  font-weight: bolder;
  /* padding: 0 0 0 1.2rem; */
}

.main_cadastro .container .box_cadastro .campos .btns {
  display: flex;
  justify-content: space-between;
}

input {
  opacity: 0.7;
  font-family: Archivo, Arial, Helvetica, sans-serif;
  font-size: large;
  height: 2rem;
  padding: 0 1rem;
  margin: 0.2rem 0 1rem;
  border-radius: 8px;
  border: none;
  background-color: #efefef;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  /* text-align: center; */
  outline-color: #f66b0e;
}

input:hover {
  opacity: 1;
}

.main_cadastro .container .box_cadastro .campos a,
.main_cadastro .container .box_cadastro .campos button {
  display: flex;
  align-self: center;
  justify-content: center;
  background-color: #f66b0e;
  width: 200px;
  box-shadow: 0 4px 0 #a54809;
  border: none;
  color: white;
  margin-top: 0.5rem;
  padding: 0.5rem 0;
  font-size: x-large;
  border-radius: 12px;
  cursor: pointer;
}

a {
  color: #1e1e1e;
  text-decoration: none;
}

.link_login {
  display: flex;
  justify-content: center;
  text-align: center;
  /* border: solid; */
}

/* LOGIN -------------------------------- */
.main_login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main_login .container {
  display: flex;
  background-color: white;
  width: 1000px;
  height: 600px;
  border-radius: 12px;
}

.main_login .container .box_img img {
  padding: 1rem;
  height: 95%;
}

.main_login .container .box_login {
  display: flex;
  flex-direction: column;
  align-self: center;
  /* border: solid black; */
  margin: 0 2rem;
  width: 100%;
  height: 100%;
}

.main_login .container .box_login h1 {
  display: flex;
  font-size: 40px;
  justify-content: center;
  /* border: solid black; */
  margin: 2rem 1rem 5rem 1rem;
  width: auto;
}

.main_login .container .box_login .campos {
  display: flex;
  flex-direction: column;
  /* border: solid red; */
  padding: 2rem;
}

.main_login .container .box_login .campos .campo {
  display: flex;
  flex-direction: column;
  /* border: solid pink; */
}

.main_login .container .box_login .campos .campo span {
  font-weight: bolder;
  /* padding: 0 0 0 1.2rem; */
}

.main_login .container .box_login .campos .btns {
  display: flex;
  justify-content: space-between;
}

.main_login .container .box_login .campos .btns a {
  text-decoration: none;
  color: #efefef;
  width: 100%;
  height: 100%;
}

.main_login .container .box_login .campos button {
  display: flex;
  align-self: center;
  justify-content: center;
  background-color: #f66b0e;
  width: 200px;
  box-shadow: 0 4px 0 #a54809;
  border: none;
  color: white;
  margin-top: 0.5rem;
  padding: 0.5rem 0;
  font-size: x-large;
  border-radius: 12px;
  cursor: pointer;
}

a {
  color: #1e1e1e;
  text-decoration: none;
}

.main_login .container .box_login {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* padding: 1rem; */
}

.main_login .container .box_login .form .link_login {
  height: 100%;
}

.main_cadastro .container .box_cadastro .form .campos .validacao{
  color: red;
}
.main_login .container .box_login .form .campos .validacao{
  text-indent: 15px;
  color: red;
}


.main_login .container .box_login .form {
  height: 100%;
}

.main_login .container .box_login .form .link_login {
  height: auto;
}

.main_login .container .box_login .form .link_login a {
  padding: 1rem;
}

/* INDEX ----------------------------------------------------------------- */
.body_index {
  background-color: white;
}

.main_index {
  /* border: solid; */
  height: 100vh;
  background-image: url("../assets/bg2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.main_index .main_container {
  display: flex;
  flex-direction: column;
  height: auto;
}

.main_index .main_container .container_home {
  /* border: solid blue; */
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main_index .main_container .container_home .container_nav nav {
  display: flex;
  /* border: solid red; */
  width: 100%;
  height: 10vh;
  color: white;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.5);
}

.main_index .main_container .container_home .container_nav .logo {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  font-family: Genos, Archivo, Arial, Helvetica, sans-serif;
  font-size: 48px;
}

.main_index .main_container .container_home .container_nav nav li {
  list-style: none;
}

.main_index .main_container .container_home .container_nav nav .box_nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.main_index
  .main_container
  .container_home
  .container_nav
  nav
  .box_nav
  .box_items {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.main_index
  .main_container
  .container_home
  .container_nav
  nav
  .box_nav
  .box_items
  .items_nav {
  display: flex;
  height: 100%;
  width: 70%;
  padding: 0 2rem;
  justify-content: space-evenly;
  align-items: center;
}

.main_index
  .main_container
  .container_home
  .container_nav
  nav
  .box_nav
  .box_items
  .items_nav
  li
  a {
  color: white;
  padding: 1rem 2rem;
  border-radius: 8px;
}

.main_index
  .main_container
  .container_home
  .container_nav
  nav
  .box_nav
  .box_items
  .items_nav
  li
  a:hover {
  color: #f66b0e;
  /* color: white; */
  box-shadow: 0 0 0 3px #f66b0e;
}

.main_index
  .main_container
  .container_home
  .container_nav
  nav
  .box_nav
  .btns_nav {
  display: flex;
  width: 30%;
  padding: 0 2rem;
  justify-content: space-around;
  align-items: center;
}

.main_index
  .main_container
  .container_home
  .container_nav
  nav
  .box_nav
  .btns_nav
  a {
  font-weight: bolder;
  padding: 1rem 2rem;
  border-radius: 8px;
  display: flex;
  width: 30%;
  justify-content: space-around;
  align-items: center;
}

.main_index
  .main_container
  .container_home
  .container_nav
  nav
  .box_nav
  .btns_nav
  .btn_cad {
  /* background-color: #f66b0e; */
  box-shadow: 0 0 0 3px#f66b0e inset;
  color: #f66b0e;
  font-weight: bolder;
  padding: 1rem 2rem;
  border-radius: 8px;
  display: flex;
  width: 30%;
  justify-content: space-around;
  align-items: center;
}

.main_index
  .main_container
  .container_home
  .container_nav
  nav
  .box_nav
  .btns_nav
  .btn_log {
  /* background-color: #f66b0e; */
  background-color: #f66b0e;
  font-weight: bolder;
  padding: 1rem 2rem;
  border-radius: 8px;
  display: flex;
  width: 30%;
  justify-content: space-around;
  align-items: center;
}

.main_index
  .main_container
  .container_home
  .container_nav
  nav
  .box_nav
  .btns_nav
  .btn_log:hover {
  background-color: white;
}

.main_index
  .main_container
  .container_home
  .container_nav
  nav
  .box_nav
  .btns_nav
  .btn_cad:hover {
  box-shadow: none;
  background-color: white;
  border: white;
  color: #1e1e1e;
}

.main_index .main_container .container_home .container_slogan {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 50%;
  /* border: solid red; */
}

.main_index .main_container .container_home .container_slogan .box_slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 80%;
  /* border: solid purple; */
}

.main_index .main_container .container_home .container_slogan .box_slogan span {
  display: flex;
  font-family: Genos, Archivo, Arial, Helvetica, sans-serif;
  align-items: center;
  font-size: 72px;
  color: white;
  width: 100%;
  /* border: solid yellow; */
}

.main_index .main_container .container_home .container_slogan .box_slogan a {
  background-color: #f66b0e;
  text-align: center;
  padding: 1rem 2rem;
  margin-top: 2rem;
  border-radius: 8px;
  width: 250px;
  font-size: 24px;
  font-weight: bold;
}

.main_index
  .main_container
  .container_home
  .container_slogan
  .box_slogan
  a:hover {
  background-color: white;
}

/* SOBRE NÓS ---------------------- */

/* .main_index .main_container .main_sobre {
  display: flex;
  height: 100vh;
} */

/* .main_index .main_cadastro .main_sobre h1 {
  font-size: 100px;
} */

.main_index .main_container .main_sobre .container_sobre {
  /* border: solid red; */
  width: 85%;
}

.main_index .main_container .main_sobre {
  display: flex;
  justify-content: center;
  /* border: solid red; */
  /* width: 90%; */
}

.main_index .main_container .main_sobre .container_sobre h1 {
  display: flex;
  font-size: 48px;
  /* border: solid; */
  margin: 5rem 0 0 0;
  padding: 2rem 0 2rem 0;
  justify-content: center;
}

.main_index .main_container .main_sobre .container_sobre .desc_sobre {
  font-family: Karla;
  font-size: xx-large;
}

.main_index
  .main_container
  .main_sobre
  .container_sobre
  .desc_sobre
  .box_sobre {
  font-family: Karla;
  padding-bottom: 5rem;
  font-size: xx-large;
}

.main_index
  .main_container
  .main_sobre
  .container_sobre
  .desc_sobre
  .container_mvv {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}

.main_index
  .main_container
  .main_sobre
  .container_sobre
  .desc_sobre
  .container_mvv
  .container_missao {
  display: flex;
  flex-direction: column;
  height: 500px;
  /* border: solid red; */
  width: 30%;
}

.main_index
  .main_container
  .main_sobre
  .container_sobre
  .desc_sobre
  .container_mvv
  .container_visao {
  display: flex;
  flex-direction: column;
  height: 500px;
  /* border: solid blue; */
  width: 30%;
}

.main_index
  .main_container
  .main_sobre
  .container_sobre
  .desc_sobre
  .container_mvv
  .container_valores {
  display: flex;
  flex-direction: column;
  height: 500px;
  /* border: solid green; */
  width: 30%;
}

.main_index
  .main_container
  .main_sobre
  .container_sobre
  .desc_sobre
  .container_mvv
  .container_missao
  h1 {
  padding: 2rem 0;
  margin: 0;
}

.main_index
  .main_container
  .main_sobre
  .container_sobre
  .desc_sobre
  .container_mvv
  .container_visao
  h1 {
  padding: 2rem 0;
  margin: 0;
}

.main_index
  .main_container
  .main_sobre
  .container_sobre
  .desc_sobre
  .container_mvv
  .container_valores
  h1 {
  padding: 2rem 0;
  margin: 0;
}

.main_index
  .main_container
  .main_sobre
  .container_sobre
  .desc_sobre
  .container_mvv
  .container_missao
  span {
  text-align: center;
}

.main_index
  .main_container
  .main_sobre
  .container_sobre
  .desc_sobre
  .container_mvv
  .container_visao
  span {
  text-align: center;
}

.main_index
  .main_container
  .main_sobre
  .container_sobre
  .desc_sobre
  .container_mvv
  .container_valores
  span {
  text-align: center;
}

/* Container Nossa solução */
.main_index .main_container .main_solucao{
  width: 100%;
  display: flex;
  justify-content: center;
}

.main_index .main_container .main_solucao .container_solucao {
  width: 70%;
}

.main_index .main_container .main_solucao .container_solucao h1 {
  display: flex;
  font-size: 48px;
  /* border: solid; */
  margin: 0 0 0 0;
  padding: 2rem 0 2rem 0;
  justify-content: center;
}

.main_index .main_container .main_solucao .container_solucao h2 {
  display: flex;
  font-size: 38px;
  /* border: solid; */
  margin: 0 0 0 0;
  padding: 2rem 0 2rem 0;
  justify-content: center;
}

.main_index .main_container .main_solucao .container_solucao span {
  font-family: Karla;
  font-size: xx-large;
  display: flex;
  text-align: justify;
}

.main_index .main_container .main_solucao .container_solucao .box_solucao {
  margin-top: 4rem;
  background-color: #f0f0f0;
  border-radius: 100px;
  width: 100%;
  height: 500px;
  display: flex;

}

.main_index .main_container .main_solucao .container_solucao .box_solucao .sub_box{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main_index .main_container .main_solucao .container_solucao .box_solucao .sub_box h2{
  font-family: Karla;
  font-size: xx-large;
}

.main_index .main_container .main_solucao .container_solucao .box_solucao .sub_box span{
  display: flex;
  text-align: center;
  font-family: Karla;
  font-size: xx-large;
}

.main_index .main_container .main_solucao .container_solucao .box_solucao .sub_box img{
  width: 150px;
}

/* Container Simulador */
.main_index .main_container .main_simulador{
  display: flex;
  justify-content: center;
}

.main_index .main_container .main_simulador .container_simulador .maquinas {
  opacity: 0.7;
  font-family:  Arial, Helvetica, sans-serif;
  font-size: large;
  padding: 0 1rem;
  margin: 0.2rem 0 1rem;
  border-radius: 8px;
  border: none;
  background-color: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  outline-color: #f66b0e;
  width: 60%;
  height: 50px;
  text-align: center;
}

.main_index .main_container .main_simulador .container_simulador{
  display: flex;
  align-items: center;
  width: 60%;
  height: auto;
  background-color: #f0f0f0;
  border-radius: 100px;
  margin-top: 10rem;
  flex-direction: column;
  padding: 8rem 0;

}

.main_index .main_container .main_simulador .container_simulador h1{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  margin: 0 0 0 0;
  padding: 0; 
}

.main_index .main_container .main_simulador .container_simulador button{
  display: flex;
  align-self: center;
  justify-content: center;
  background-color: #f66b0e;
  width: 300px;
  box-shadow: 0 4px 0 #a54809;
  border: none;
  margin-top: 3rem;
  padding: 0.8rem 0;
  font-size: x-large;
  border-radius: 12px;
  cursor: pointer;
  height: 50px;
}

.main_index .main_container .main_simulador .container_simulador button:hover{
  background-color: #eb660e;
}

.main_index .main_container .main_simulador .container_simulador span{
  font-family: Karla;
  font-size: x-large;
  margin-top: 1.5rem;
  width: 50%;
  text-align: center;
}

.main_index .main_container .main_simulador .container_simulador input{
  opacity: 0.7;
  font-family:  Arial, Helvetica, sans-serif;
  font-size: large;
  padding: 0 1rem;
  margin: 0.2rem 0 1rem;
  border-radius: 8px;
  border: none;
  background-color: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  outline-color: #f66b0e;
  width: 60%;
  height: 50px;
}

.main_index .main_container .main_simulador .container_simulador .divOutput{
  font-size: x-large;
  width: 90%;
  text-align: center;
}

/* Container Contate Nos */

.main_index .main_container .main_contato{
  width: 100%;
  background-color:#f0f0f0 ;
  height: auto;
  margin-top: 10rem;
}

.main_index .main_container .main_contato .container_contato{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 5rem 0;
  
}

.main_index .main_container .main_contato .container_contato h1{
  font-size: 48px;
  margin: 0 0 0 0;
  padding: 0; 
}

.main_index .main_container .main_contato .container_contato button{
  display: flex;
  align-self: center;
  justify-content: center;
  background-color: #f66b0e;
  width: 300px;
  box-shadow: 0 4px 0 #a54809;
  border: none;
  margin-top: 3rem;
  padding: 0.8rem 0;
  font-size: x-large;
  border-radius: 12px;
  cursor: pointer;
  height: 50px;
}

.main_index .main_container .main_contato .container_contato button:hover{
  background-color: #eb660e;
}

.main_index .main_container .main_contato .container_contato span{
  font-family: Karla;
  font-size: xx-large;
  margin-top: 2rem;
}

.main_index .main_container .main_contato .container_contato input{
  opacity: 0.7;
  font-family:  Arial, Helvetica, sans-serif;
  font-size: large;
  margin: 0.2rem 0 1rem;
  padding: 5px;
  border-radius: 8px;
  border: none;
  background-color: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  outline-color: #f66b0e;
  width: 40%;
  height: 50px;
  text-align: center;
}

.main_index .main_container .main_contato .container_contato textarea{
  opacity: 0.7;
  font-family:  Arial, Helvetica, sans-serif;
  font-size: large;
  margin: 0.2rem 0 1rem;
  border-radius: 8px;
  border: none;
  background-color: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  outline-color: #f66b0e;
  padding: 5px;
  width: 40%;
  height: 300px;  
  resize: none; /* Impede o redimensionamento da caixa */
  overflow-wrap: break-word; /* Garante a quebra de linha automática */
  box-sizing: border-box; /* Inclui o padding na largura total */
  vertical-align: top; /* Faz o texto começar no topo */
}

/* Container Footer */
.main_index .main_container .main_footer{
  width: 100%;
  height: 150px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_index .main_container .main_footer span{
  color: white;
  font-size: 30px;
  
}


/* DASHBOARD --------------------------------------- */

.main_dashboard {
  background-color: white;
  width: 100vw;
  height: 100vh;
}

.main_dashboard .container {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.main_dashboard .container .box_bar_left {
  display: flex;
  flex-direction: column;
  background-color: #112B3C;
  width: 15%;
  height: 100vh;
}

.main_dashboard .container .box_bar_left .box_logo {
  display: flex;
  /* background-color: orange; */
  height: 13vh;
  justify-content: center;
  align-items: center;
}

.main_dashboard .container .box_bar_left .box_logo h1 {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: Genos, Archivo, Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 60px;
  font-weight: normal;
  height: 100%;
}

.main_dashboard .container .box_bar_left .box_profile {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  display: flex;
  height: 30vh;
  /* background-color: red; */
  justify-content: center;
  align-items: center;
  align-content: center;
}

.main_dashboard .container .box_bar_left .btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: black; */
}

.main_dashboard .container .box_bar_left .btns a {
  font-size: x-large;
  color: white;
  padding: 2rem;
}

.main_dashboard .container .box_bar_left .btns .btn_sair {
  display: flex;
  align-self: center;
  justify-content: center;
  background-color: #f66b0e;
  width: 200px;
  box-shadow: 0 4px 0 #a54809;
  border: none;
  color: white;
  margin-top: 0.5rem;
  padding: 0.5rem 0;
  font-size: x-large;
  border-radius: 12px;
  cursor: pointer;
}

.main_dashboard .container .box_bar_left .box_profile .profile{
  display: flex;
  padding: 0;
  margin: 0;
  width: 25vh;
  height: 25vh;
  /* background-color: blue; */
  border-radius: 12px;
  border: #226b9c solid 1px;
  flex-direction: column;
}

.main_dashboard .container .box_bar_left .box_profile .profile .box_img_profile {
  display: flex;
  height: 150px;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
}

.main_dashboard .container .box_bar_left .box_profile .profile .nome_empresa{
  display: flex;  
  justify-content: center;
  align-items: center;
}

.main_dashboard .container .box_bar_left .box_profile .profile .nome_empresa h2 {
  padding: 0;
  margin: 0;
  color: #eb660e;
}

.main_dashboard .container .box_bar_left .box_profile .profile .nome_funcionario {
  display: flex;
  justify-content: center;
}

.main_dashboard .container .box_bar_left .box_profile .profile .nome_funcionario h3 {
  color: #226b9c;  
}

.main_dashboard .container .box_view_right {
  display: flex;
  width: 85%;
  justify-content: center;
}

.main_dashboard .container .box_view_right .view_container {
  display: flex;
  flex-direction: column;

  width: 90%;
}

.main_dashboard .container .box_view_right .kpis {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
  width: 100%;
  /* background-color: black; */
}

.main_dashboard .container .box_view_right .kpis .kpi_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: #112B3C;
  color: white;
  width: 30vh;
  height: 10vh;
}

.main_dashboard .container .box_view_right .kpis .kpi_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: #112B3C;
  color: white;
  width: 30vh;
  height: 10vh;
}

.main_dashboard .container .box_view_right .kpis .kpi_3 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: #112B3C;
  color: white;
  width: 30vh;
  height: 10vh;
}

.main_dashboard .container .box_view_right .kpis .kpi_4 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: #112B3C;
  color: white;
  width: 30vh;
  height: 10vh;
}


.main_dashboard .container .box_view_right .grafico_1,
.main_dashboard .container .box_view_right .grafico_2 {
  /* background-color: orange; */
  display: flex;
  justify-content: center;
  width: min-content;
  height: 40vh;
}

.main_dashboard .container .box_view_right .grafico_1 div,
.main_dashboard .container .box_view_right .grafico_2 div,
.main_dashboard .container .box_view_right .grafico_3 div{
  height: 30vh;
  width: 67vh;
  background-color: #112B3C;
  border-radius: 12px;
  padding: 2rem;
}

.main_dashboard .container .box_view_right .graficos {
  display: flex;
  width: 100%;
  /* background-color: aqua; */
  height: 50vh;
  justify-content: space-between;
  align-items: center;
}
.main_dashboard .container .box_view_right .graficos2 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50vh;
  /* background-color: aqua; */
}
.main_dashboard .container .box_view_right .graficos2 div {
  width: 90%;
}

.graficos_inferior {
  display: flex;
  border: solid red;
}

.graficos_inferior .grafico_1 {
  border: solid blue;
  /* width: 100vw; */
}

.graficos_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: red solid; */
}

.canvas {
  width: 100%;
  height: 100%;
}
