@import url(components.css);

.main{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* .box_cadastroMaquina{
    width: 1000px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.span_tituloPrincipal{
    font-family: Archivo, Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 2rem;
}

.box_inputs{
    display: flex;
    /* border: red 1px solid; */
    justify-content: center;
    /* flex-wrap: wrap; */
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}
.span_titulos{
    width: auto;
    font-weight: bold;
    font-size: 24px;
    height: 45px;
    font-family: Archivo, Arial, Helvetica, sans-serif;
    color: black;
    width: 40%;
    text-align: center;
    display: flex;
    /* border: solid 1px black; */
    justify-content: center;
    align-items: center;
    /* margin: 5px 0;     */
    
}

.input_valores, .slt_tpMaquina{
    padding: 10px;
    height: 45px;
    font-family: Archivo, Arial, Helvetica, sans-serif;
    font-size: 20px;
    /* margin: 5px 0;        */
    border-radius: 8px;
    margin-bottom: 1%;
    border: none;
    background-color: #efefef;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    outline-color: #f66b0e;
    width: 38%;
    box-sizing: border-box;

}

.btn_cadastrar{
    display: flex;
    align-self: center;
  justify-content: center;
  background-color: #f66b0e;
  width: 200px;
  box-shadow: 0 4px 0 #a54809;
  border: none;
  color: white;
  margin-top: 1em;
  padding: 0.5rem 0;
  font-size: x-large;
  border-radius: 12px;
  cursor: pointer;
  text-decoration: none;
}
.btn_cadastrar:hover{
    background-color: #e05a00;
}

.navBar a{
    transition: 0.3s;
  }
.navBar a:hover{
    color:#dd5a02
  }