@import url(root.css);

body{
    flex-direction: row;
}

.sideBar{
    background-color: var(--azulEscuro);
    height: 100vh;
    width: 15vw;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: white;
}

.title{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.sidebarTop{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* border: white 1px solid; */
    gap: 5%;
    height: 50%;
}

.boxProfile{
    height: 50%;
    width: 90%;
    border: var(--azul2) 1px solid;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.imgProfile{
    width: 100px;
    height: 100px;
}

.nomes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nomeEmpresa{
    color: #eb660e;
    margin: 0;
}

.nomeUsuario{
    color: #226b9c;
    margin: 0;
}

.navBar{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.btnSair{
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: #f66b0e;
    box-shadow: 0 4px 0 var(--marrom);
    border: none;
    color: white;
    width: 200px;
    margin-top: 0.5rem;
    padding: 0.5rem 0;
    font-size: x-large;
    border-radius: 12px;
    cursor: pointer;  
    transition: 0.5s ease all;
}

.btnSair:hover{
    background-color: var(--laranjaEscuro);
}

.navBar a{
    text-decoration: none;
    color: #efefef;
    width: 100%;
    text-align: center;
    font-size: 25px;
}

.main{
    width: 85vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.agora{
    font-weight: 1000;
}


#container_perguntar {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: fixed;
    width: 300px;
    height: fit-content;
    border-radius: 12px;
    padding: 1rem;
    margin-left: 80%;
    margin-top: 1rem;
    color: #040b0f;
    border: #63B1BC solid 5px;
    justify-content: center;
    align-items: center;
  }
  
  #container_perguntar button {
    background-color: #ED145B;
    padding: 1rem 2rem;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: large;
    cursor: pointer;
  }
  
  #container_perguntar textarea {
    font-family: Archivo;
    font-size: large;
    padding: 1rem;
    width: 80%;
    min-height: 100px;
  }
  
  #div_icone_ia {
    display: flex;
    height: 100px;
    width: 100px;
    /* background-color: blue; */
    position: fixed;
    margin-left: 90%;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 85vh;
    background-image: url(../assets/bob_camisa.png);
    background-size: cover;
  }
  
  #div_sair_ia {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 100%;
    cursor: pointer;
    font-size: xx-large;
    font-weight: bolder;
  }

.kpiModal {
    display: none;
    position: absolute;
    z-index: 3;
    width: 100vw;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(56, 54, 54, 0.653);
}

.kpiMain{
    border: var(--laranjaEscuro) 2px solid;
    background-color: var(--azulEscuro);
    width: 35%;
    flex-direction: column;
    /* justify-content: center; */
    gap: 20px;
    display: flex;
    overflow: auto;
    align-items: center ;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    height: 80%;
}

.componentKPI {
    /* border: white 1px solid; */
    min-width: 90%;
    border-radius: 20px;
    border: var(--laranjaEscuro) 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 35%;
}

.componentKPI:hover{
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: 0 8px 16px white;
}

.status{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
}

.details{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: 50%;
    padding: 10px;
    /* border: 1px solid red; */
}

.infoLine{
    height: 30%;
    /* border: white 1px solid; */
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-bottom: var(--laranjaEscuro) solid 2px;
}

.detailTitle{
    font-size: 25px;
    color: white;
    width: 50%;
    /* text-decoration: underline; */
    text-align: center;
}

.detailInfo{
    font-size: 20px;
    width: 50%;
    color: white;
    text-align: center;

}