@import url(components.css);


.tituloKPIS{
    /* border: red 1px solid; */
    margin: 0;
    min-height: 5%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.setorContainer{
    width: 100%;
    min-height: 10%;
    /* border: 1px solid red; */
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}

.setorContainer h2{
    font-size: 25px;
    margin: 0;

}

.setorSelect{
    background-color: var(--laranjaClaro);
    color: white;
    border-radius: 12px;
    font-size: 20px;
    width: 30%;
    height: 40%;
    text-align: center;
    /* border: black 1px solid; */
}

.kpis{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: row;
    min-height: 20vh;
    width: 100%;
    /* border: black 1px solid; */
    margin-bottom: 1%;
}
.kpi{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: #112B3C;
    color: white;
    gap: 10px;
    flex-direction: column;
    text-align: center;
    height: 70%;
    width: 20%;
    font-size: 25px;
    padding: 10px;
}
.kpi1{
    color: red;
}
.kpi2{
    color: var(--azul2);
}
.kpi3{
    color: var(--verdeDash);
}
.kpi4{
    color: var(--amareloDash);
}

.graficosTop{
    display: flex;
    min-width: 100%;
    /* border: solid 1px black; */
    min-height: 40%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;
    margin-bottom: 1%;
}

.graficosBottom{
    display: flex;
    width: 100%;
    /* border: solid 1px black; */
    min-height: 60%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.graficoConteiner{
    background-color: var(--azulEscuro);
    width: 43%;
    height: 100%;
    flex-direction: column;
    border-radius: 12px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.graficoIndividual{
    width: 90%;
    height: 90%;
    background-color: var(--azulEscuro);
    border-radius: 12px;
    padding: 5px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}

.selectSensor{
    background-color: var(--laranjaClaro);
    color: white;
    border-radius: 12px;
    width: 30%;
    text-align: center;
    font-size: 20px;
    height: 5%;
}

.btnsGrafico1{
    width: 100%;
    flex-direction: row;
    align-items: center;
    display: flex;
    gap: 10px;
    /* border: red 1px solid; */
    height: 8%;
}

.btnGrafico{
    background-color: var(--laranjaClaro);
    border-radius: 12px;
    width: 10%;
    color: white;
    align-items: center;
    height: 80%;
    font-size: 20px;
    border: 0;
    box-shadow: 0 4px 0 var(--marrom);
    cursor: pointer;  
    transition: 0.5s ease all;
}

.btnGrafico:hover{
    background-color: var(--laranjaEscuro);
}

.navBar a{
    transition: 0.3s;
  }
.navBar a:hover{
    color:#dd5a02
  }