@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

/* Definição padãro de cores */
:root{
    --azulEscuro: #112B3C;
    --laranjaClaro: #F66B0E;
    --laranjaEscuro: #EB660E;
    --azul2: #226B9C;
    --verdeDash: rgb(78, 244, 86);
    --amareloDash: rgb(253, 239, 91);
}

*{
  font-family: Karla;
}

body {
  margin: 0;
  background-color: #040b0f;
  color: #1e1e1e;
  font-family: Archivo, Arial, Helvetica, sans-serif;
}

/* Barra de scroll estilizada */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: white;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--laranjaClaro);
    border-radius: 50px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--laranjaEscuro);
  }