.container{
    border-radius: 20px;
    box-shadow: 0px 2px 15px #150a5d;
    display: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 34%;
    height: 90vh;
    background-color: #2a9aca;
}
#Titulo{
    color: black;
    margin-top: auto;

}
#ipt_Vmaquina{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: black;
    width: 420px;
    height: 25px;
    border: 4px solid #000000;
    /* Xpx = altura Ypx = Largura Zpx = esfumaçado/blower */
    box-shadow: 4px 4px 2px #000000;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 10px;
    padding-right: 10px; 
    
} 
#iptValidacao{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: black;
    width: 420px;
    height: 25px;
    border: 4px solid #000000;
    box-shadow: 4px 4px 2px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 10px;
    padding-right: 10px;
} 
#iptKW{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: black;
    width: 420px;
    height: 25px;
    border: 4px solid #000000;
    box-shadow: 4px 4px 2px #000000;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 10px;
    padding-right: 10px;
}
#buttom{
    align-items: center;
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    border-radius: 200px;
    border: 4px #000000;
    box-shadow: 4px 4px 2px #000000;
}